@import "../../../styles/variables";

/*.input {
  display: block;
  height: 2.5rem;
  margin-top: 0.5rem;
  padding-left: 1rem;

  &[type="radio"] {
    appearance: none;
    height: 1.2em;
    width: 1.2em;
    padding: 0;

    margin: 0 0.5rem;

    &:checked {
      background: teal;
    }
  }
}*/
