button,
.btn {
  box-shadow: $shadow;
  border: 0;
  background: inherit;
  font-weight: 500;
  font-family: "Roboto Mono", Courier, monospace;
  height: 3rem;
  letter-spacing: 1px;
  min-width: 3rem;
  display: grid;
  place-content: center;
  text-transform: uppercase;
  padding: 0 1rem;

  &:disabled {
    pointer-events: none;
  }
}

.btn {
  &-primary {
    color: white;
    background: $c-primary;

    &:hover {
      background: linear-gradient(to right, $c-primary, $c-primary-light);
    }

    &:disabled {
      background: $c-neutral-4;
      opacity: 0.7;
      pointer-events: none;
    }
  }
}
