.home {
  display: flex;
}

/*sidebar for search and filtering options*/

.sidebar {
  border: 1px solid $c-neutral-2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 2rem;
  max-height: 64rem;
  padding: 2rem 1rem 8rem;
  width: 20rem;

  input:not([type="radio"]),
  select {
    width: 18rem;
  }
}

.search-box {
  position: relative;

  input {
    border: none;
    border-bottom: $border;
    display: inline;

    &:focus {
      outline: none;
    }
  }

  .fa-search {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}

.price-range {
  input {
    display: block;
    margin-bottom: 1rem;
  }
}

.order > div {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  gap: 0.5rem;
  justify-content: flex-end;
}

/*products list*/

.products {
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
}

.product {
  display: flex;
  flex-direction: column;

  &:hover {
    transform: scale(1.05);
  }

  &-image {
    height: 30rem;
    position: relative;
    width: 20rem;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }

    &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      inset: 0;
      background: $c-transparent;
      z-index: 0;
    }
  }

  &-price {
    font-weight: 500;
    font-family: "Roboto Mono", Courier, monospace;
    letter-spacing: 1px;
  }
}
